fastapi
uvicorn
sqlalchemy
psycopg2-binary
pymongo
llama-index
llama-index-llms-groq
llama-index-embeddings-huggingface
llama-index-vector-stores-mongodb
llama-index-vector-stores-chroma
python-dotenv
pandas
groq
chromadb
neo4j
python-multipart
